---
layout: "layout"
blog: writing
---

<section class="writing_container">
  <div class="col_container col_4">
    <% blog.articles.each do |article| %>
      <article class="col">
        <a href="<%= article.url %>" class="article_card_container">
          <img src="<%= article.data["image"] %>" alt="<%= article.data["image_description"]%>" class="card_image" />

          <div class="card_title_section">
            <h5 class="card_source">
              <%= format_date(article.date) %>
            </h5>

            <h1 class="card_title">
              <%= article.title %>
            </h1>
          </div>

          <h3 class="card_subtitle">
            <%= article.data["subtitle"] %>
          </h3>
        </a>
      </article>
    <% end %>
  </div>
</section>
